Django==1.2.3
coverage==3.4
distribute==0.6.14
lettuce==0.1.17
logilab-astng==0.21.0
logilab-common==0.53.0
lxml==2.3beta1
mock==0.7.0b4
nose==0.11.4
pep8==0.6.1
pylint==0.22.0
pythoscope==0.4.3
unittest2==0.5.1
wsgiref==0.1.2
